*{
    box-sizing: border-box;
    font-family: "標楷體";
    font-size: 24px;
}
.main{
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
}
.main>*:not(.left,.right),
.left>*,
.right>*{
    border: 1px solid lightgray;
}
.top{
    flex-basis: 1000px;
    height: 65px;
    display: flex;
    justify-content: center;
}
.left{
    flex-basis: 215px;
    height: 683px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu{
    flex-basis: 658px;
    width: 215px;
    font-weight: 500;
}
.title{
    text-decoration: underline;
    color: #FF00FF;
    margin: 10px auto;
}
.menu>a{
    display: block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-decoration: none;
    background-image: url(../images/menu1.png);
    margin: 5px auto;
    color: #000000;
}
.menu>a:hover{
    background-image: url(../images/menu2.png);
}
.update{
    flex-basis: 25px;
    width: 215px;
    font-size: 16px;
    color: #000000;
}
.right{
    flex-basis: 785px;
    height: 683px;
    display: flex;
    flex-direction: column;
}
.marquee{
    flex-basis: 29px;
    width: 785px;
    display: flex;
    justify-content: center;
    color: #0000FF;
}
.content{
    flex-basis: 654px;
    width: 785px;
}
iframe{
    width: 770px;
    height: 100%;
    margin-left: 10px;
}
.footer{
    flex-basis: 1000px;
    height: 20px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}