* {
    box-sizing: border-box;
    /* border: 1px solid gray; */
}

.main {
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto;
    border: 1px solid gray;
}

.top {
    border: 1px solid gray;
    width: 1000px;
    height: 65px;
}

.aside {
    width: 215px;
    height: 683px;
    display: flex;
    flex-direction: column;
}

.section {
    width: 785px;
    height: 683px;
    display: flex;
    flex-direction: column;
}

.marquee {
    border: 1px solid gray;
    width: 785px;
    height: 29px;
}

.menu {
    border: 1px solid gray;
    width: 215px;
    height: 658px;
    font-family: "標楷體";
    font-weight: 500;
}

tr {
    background-image: url(/images/menu1.png);
    background-repeat: no-repeat;
    height: 36px;
}

tr:hover {
    background-image: url(/images/menu2.png);
}

.update {
    border: 1px solid gray;
    border-bottom: none;
    width: 215px;
    height: 25px;
    font-family: "標楷體";
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.content {
    border: 1px solid gray;
    border-bottom: none;
    width: 785px;
    height: 654px;
    text-align: center;
}

.footer {
    border: 1px solid gray;
    border-bottom: none;
    width: 1000px;
    height: 20;
    font-family: "標楷體";
    color: #000000;
    text-align: center;
    font-size: 16px;
}
